:root {
    --mainBlue_color: #2baaec;
    --majorBlue_color: hsla(201, 84%, 55%, 0.800);
    --hoverGreen_color: #25e6c8;
    --mainTitle_color: #363636;
    --text_color: #626262;
    --placeholder_color: #dedede;
    --placeholder2_color: #bfbfbf;
    --bg-color: #f7f7f7;
    --ftrText_color: #f3fbff;
    --white_color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');


html, body {
    font-family: 'Roboto', sans-serif;
}



/* white button template 
.btn {
  padding: .7rem 2rem;
  margin: 0;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  border-radius: .5rem;
}
.btn-primary {
  background-color: var(--white_color);
  color: #fff;
}
 */



.showBorders {
    border: 1px solid #62626254;
    border-radius: 5px;
}


@media (min-width: 375px){
  .btn {
    padding: 1.13rem 1rem;
  }
 }
  
@media (min-width: 768px){
  .btn {
    padding: 1.13rem 2rem;
  }
  .appointment {
    display: flex; 
  }
 }
  
 @media (min-width: 992px){
  .btn {
    padding: 1.13rem 3.5rem;
  }
  .appointment {
    display: flex; 
  }
}
  
 @media (min-width: 1200px){
  .btn {
    padding: 1.13rem 3.5rem;
  }
  .appointment {
    display: flex; 
    justify-content: space-around;
  }
}