:root {
    --mainBlue_color: #2baaec;
    --mainorBlue_color: #2ca9edcc;
    --hoverGreen_color: #25e6c8;
    --mainTitle_color: #363636;
    --text_color: #626262;
    --placeholder_color: #dedede;
    --placeholder2_color: #bfbfbf;
    --bg-color: #f7f7f7;
    --ftrText_color: #f3fbff;
    --white_color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

/* A class to show borders around any item, just to show up */
.showBorders { border: 1px solid #62626254; border-radius: 5px;}


.container {
    width: 80%;
    margin: auto;
}
  

.appointment {
    background-color: var(--mainorBlue_color);
    color: var(--ftrText_color);
    font-family: Roboto Slab;
    text-align: center;
    font-size: 1.875rem;
    padding: 3rem 0;
}

.label {

    margin: 1.5rem 0;
}

.btn {
    height: 60px;
    white-space: nowrap;
    padding: 1.13rem 3.5rem;
    margin: 1.5rem 1rem;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: .5rem;
}
.btn-primary {
    background-color: var(--white_color);
    color: var(--mainBlue_color);
    border: 2px solid;
    border-color: transparent;
    font-family: roboto;
    font-weight: bold;
    font-size: 1.125rem;
}

.btn-primary:hover {
    background-color: transparent;
	color: var(--white_color);
    border: 2px solid;
    border-color: var(--white_color);
}
.btn-primary:active {
	transform: scale(0.98); 
	background-color: var(--mainBlue_color);
}


.footer {
    background-color: var(--mainBlue_color);
    font-size: 1rem;
    color: var(--ftrText_color);
    text-align: center;
    padding: 1.9rem;
}



@media (min-width: 768px){
  .container {
    display: flex; 
    align-items: center;
  }
  .label {
    text-align: start;
  }
 }
  
 @media (min-width: 992px){
   .container {
    display: flex;
    align-items: center;
  }
  .label {
    text-align: start;
  }
}
  
 @media (min-width: 1200px){
  .container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
  }
  .label {
    text-align: start;
  }
}