


.appointment {
    background-color: var(--majorBlue_color);
    color: var(--ftrText_color);
    font-family: Roboto Slab;
    text-align: center;
    font-size: 30pt;
    align-content: center;
    padding: 3rem;
}
.appointment p {
    display: block;
}

.btn {
    height: 60px;
    white-space: nowrap;
    margin-top: 3rem;
    margin-left: 1rem;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: .5rem;
  }
.btn-primary {
    background-color: var(--white_color);
    color: var(--mainBlue_color);
    font-family: roboto;
    font-weight: bold;
    font-size: 18pt;
}

.footer {
    background-color: var(--mainBlue_color);
    font-size: 1em;
    color: var(--ftrText_color);
    text-align: center;
    padding: 1.9rem;
}