:root {
    --mainBlue_color: #2baaec;
    --mainorBlue_color: #2ca9edcc;
    --hoverGreen_color: #25e6c8;
    --mainTitle_color: #363636;
    --text_color: #626262;
    --placeholder_color: #dedede;
    --placeholder2_color: #bfbfbf;
    --bg-color: #f7f7f7;
    --ftrText_color: #f3fbff;
    --white_color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

/* A class to show borders around any item, just to show up */
.showBorders { border: 1px solid #62626254; border-radius: 5px;}


.container {
    width: 100%;
    margin: auto;
}
  /* -- until here is the default styling -- */

/* ------ services section starts here ---- */

.ser-sec-bg {
  background-color: var(--bg-color);
  padding-bottom: 8rem;
}

.wrapper {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.our-service-top-title {
  font-family: Roboto Slab;
  font-size: 2rem;
  color: var(--mainTitle_color);
  text-align: center;
  width: 450px;

}
.hr {
  margin: 1.5rem 0;
  width: 100%;
  border: 2px solid var(--hoverGreen_color);
  border-radius: 2px;

}

.grid-fit {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(436px, auto);
  gap: 2rem;
}

/*--- cards here --- */
.square {
  background-color: #ffffff;
  transition: box-shadow 0.3s ease 0.3s;
  border-radius: 10px;
}

.square:hover {
  box-shadow: 0 0 15px rgba(19, 19, 19, 0.192); 
}

.square:hover > .ball {
  background-color: var(--mainorBlue_color);
  height: 140px;
  width: 140px;
  border: 10px solid #c8e9fc;
  transition: .2s;
}

.ball {
  border: 10px solid #fff;
  background-color: var(--hoverGreen_color);
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.centered {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text-cards {
  font-size: 1.375rem;
  color: #363636;
  font-family: Roboto Slab;
  margin-top: 4rem;
  padding: 4rem;
  text-align: center;
}
#service-dis {
  padding-top: 1rem;
  font-size: 1.125rem;
  color: #626262;
}
/*----- DON*T FORGET TO MAKE THIS CHANGE--------------*/
@media screen and (max-width: 992px){
  .grid-fit {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 .5rem;
}
} 



  /* ----- appointment section starts here ------*/
.appointment {
  background-color: var(--mainorBlue_color);
  color: var(--ftrText_color);
  font-family: Roboto Slab;
  font-size: 1.875rem;
  padding: 3rem 0;
 }

 .d-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.justify {
  text-align: center;
  align-items: center;
}



.btn {
  height: 60px;
  white-space: nowrap;
  padding: 1.13rem 3.5rem;
  margin: 1.5rem 1rem;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  border-radius: .5rem;
}
.btn-primary {
  background-color: var(--white_color);
  color: var(--mainBlue_color);
  border: 2px solid;
  border-color: transparent;
  font-family: roboto;
  font-weight: bold;
  font-size: 1.125rem;
}
.btn-primary:hover {
  background-color: transparent;
	color: var(--white_color);
  border: 2px solid;
  border-color: var(--white_color);
}
.btn-primary:active {
  transform: scale(0.98); 
  background-color: var(--mainBlue_color);
}


.footer {
  background-color: var(--mainBlue_color);
  font-size: 1rem;
  color: var(--ftrText_color);
  text-align: center;
  padding: 1.9rem;
}


@media screen and (min-width: 768px){
  .container {
    max-width: 720px;
  }
  .d-flex {    
    flex-direction: row;
  }
}

@media screen and (min-width: 992px){
  .container {
    max-width: 960px;
    flex-direction: row;
  }
  .d-flex {    
    flex-direction: row;
  }
 }

@media screen and (min-width: 1200px){
  .container {
      max-width: 1140px;
      flex-direction: row;
  }
  .d-flex {    
    flex-direction: row;
  }
}

@media screen and (min-width: 1400px){
  .container {
      max-width: 1300px;
  }
  .d-flex {    
    flex-direction: row;
  }
}