:root {
    --mainBlue_color: #2baaec;
    --mainorBlue_color: #2ca9edcc;
    --hoverGreen_color: #25e6c8;
    --mainTitle_color: #363636;
    --text_color: #626262;
    --placeholder_color: #dedede;
    --placeholder2_color: #bfbfbf;
    --bg-color: #f7f7f7;
    --ftrText_color: #f3fbff;
    --white_color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

/* A class to show borders around any item, just to show up */
.showBorders { border: 1px solid #62626254; border-radius: 5px;}


.container {
    width: 100%;
    margin: auto;
}
/* -- until here is the default styling -- */



/* ------ main menu section ------*/
.menuSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

#blueText { color: #2baaec; }

.logocard {
  display: flex;
  align-items: center;
}
.logoImage {
  margin-right: 1rem;
}
.logoText #header {
  font-family: Roboto Slab;
  font-size: 1.5rem;
  color: #363636;
}
.logoText #Ltext {
  font-family: Roboto;
  font-size: 1rem;
  color: #626262;
}
#link {
  display: inline-block;
}
.menu-links {
  width: 30%;
  min-width: 380px;
  display: inline-flex;
  justify-content: space-between;
  padding: 1rem .5rem;
}
#linkk {
  text-decoration: none;
  font-family: Roboto Slab;
  font-size: 1.2rem;
  color: #363636;
}
#linkk:hover {
  color: #2baaec;
}







/* ------ showcase section ------*/

.showcase {
  background-color: var(--placeholder_color);
}

.main-box-sc {
  background-image: url(img/placehold1.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  min-height: 700px;
  }
.main-box-sc {
  display: flex;
  margin-top: 5rem;
  padding-bottom: 6.5rem;
  justify-content: right;
}
.wrapper2 {
  width: 50%;
  justify-self: right;
}

.sc-title {
  font-family: Roboto Slab;
  font-size: 3.5rem;
  color: var(--mainTitle_color);
  text-align: start;
  padding-top: 6rem;
  padding-bottom: 1rem;

}
.article-width {

  font-family: Roboto;
  font-size: 1.1rem;
  color: var(--text_color);
  text-align: start;
}

.btn {
  height: 60px;
  white-space: nowrap;
  padding: 1.13rem 3.5rem;
  margin: 1.5rem 0;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  border-radius: .5rem;
}

.btn1-primary {
  background-color: var(--hoverGreen_color);
  color: var(--white_color);
  border: 2px solid;
  border-color: transparent;
  font-family: roboto;
  font-weight: bold;
  font-size: 1.125rem;
}
.btn1-primary:hover {
  background-color: var(--mainBlue_color);
  color: var(--white_color);
}


/*----- DON*T FORGET TO MAKE THIS CHANGE--------------*/
@media screen and (max-width: 768px){
  .main-box-sc {
      background-position: bottom right;
      padding: 0 .5rem;
  }
  .wrapper2 {
      width: 100%;
      justify-self: center;
  }
} 



/* ---- About Us section starts here ---- */
.main-box {
  background-image: url(img/placehold2.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 5rem;
  padding-bottom: 6.5rem;
}
.wrapper1 {
  justify-content: start;
}
.aboutUs-top-title {
  font-family: Roboto Slab;
  font-size: 2rem;
  color: #363636;
  text-align: start;
  padding-top: 4rem;
  width: 65%;
}
.article-width {
  width: 65%;
  font-family: Roboto;
  font-size: 1.1rem;
  color: #626262;
  text-align: start;
}

.hr {
  margin: 1.5rem 0;
  width: 100%;
  border: 2px solid #25e6c8;
  border-radius: 2px;
}
.blueWord {
  font-family: Roboto Slab;
  color: #2baaec;
}
.grid-boxes {
  width: 75%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 1rem;
}
.box {
  padding: 4rem 0 0 0;
  font-size: 2rem;
}
.font2 {
  font-family: Roboto Slab;
  font-size: 1.1rem;
  color: #363636;
  text-align: start;
}
/*----- DON*T FORGET TO MAKE THIS CHANGE--------------*/
@media screen and (max-width: 768px){
  .main-box {
   background-position: bottom left;
   padding: 0 .5rem;
  }
} 


/* ------ services section starts here ---- */
.ser-sec-bg {
  background-color: var(--bg-color);
  padding-bottom: 8rem;
}

.wrapper {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.our-service-top-title {
  font-family: Roboto Slab;
  font-size: 2rem;
  color: var(--mainTitle_color);
  text-align: center;
  width: 450px;

}
.hr {
  margin: 1.5rem 0;
  width: 100%;
  border: 2px solid var(--hoverGreen_color);
  border-radius: 2px;

}

.grid-fit {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(436px, auto);
  gap: 2rem;
}

/*--- cards here --- */
.square {
  background-color: #ffffff;
  transition: box-shadow 0.3s ease 0.3s;
  border-radius: 10px;
}

.square:hover {
  box-shadow: 0 0 15px rgba(19, 19, 19, 0.192); 
}

.square:hover > .ball {
  background-color: var(--mainorBlue_color);
  height: 140px;
  width: 140px;
  border: 10px solid #c8e9fc;
  transition: .2s;
}

.ball {
  border: 10px solid #fff;
  background-color: var(--hoverGreen_color);
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.centered {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text-cards {
  font-size: 1.375rem;
  color: #363636;
  font-family: Roboto Slab;
  margin-top: 4rem;
  padding: 4rem;
  text-align: center;
}
#service-dis {
  padding-top: 1rem;
  font-size: 1.125rem;
  color: #626262;
}
/*----- DON*T FORGET TO MAKE THIS CHANGE--------------*/
@media screen and (max-width: 992px){
  .grid-fit {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 .5rem;
}
} 



  /* ----- appointment section starts here ------*/
.appointment {
  background-color: var(--mainorBlue_color);
  color: var(--ftrText_color);
  font-family: Roboto Slab;
  font-size: 1.875rem;
  padding: 3rem 0;
 }

 .d-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.justify {
  text-align: center;
  align-items: center;
}




.btn-primary {
  background-color: var(--white_color);
  color: var(--mainBlue_color);
  border: 2px solid;
  border-color: transparent;
  font-family: roboto;
  font-weight: bold;
  font-size: 1.125rem;
}
.btn-primary:hover {
  background-color: transparent;
	color: var(--white_color);
  border: 2px solid;
  border-color: var(--white_color);
}
.btn-primary:active {
  transform: scale(0.98); 
  background-color: var(--mainBlue_color);
}


.footer {
  background-color: var(--mainBlue_color);
  font-size: 1rem;
  color: var(--ftrText_color);
  text-align: center;
  padding: 1.9rem;
}


@media screen and (min-width: 768px){
  .container {
    max-width: 720px;
  }
  .d-flex {    
    flex-direction: row;
  }
  .menuSection {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px){
  .container {
    max-width: 960px;
    flex-direction: row;
  }
  .d-flex {    
    flex-direction: row;
  }
 }

@media screen and (min-width: 1200px){
  .container {
      max-width: 1140px;
      flex-direction: row;
  }
  .d-flex {    
    flex-direction: row;
  }
}

@media screen and (min-width: 1400px){
  .container {
      max-width: 1300px;
  }
  .d-flex {    
    flex-direction: row;
  }
}