

.appointment {
     background-color: var(--majorBlue_color);
    color: var(--ftrText_color);
    font-family: Roboto Slab;
    text-align: center;
    font-size: 2.508rem;
    padding: 3rem 1rem;
}

.label {
    display: block;
    margin: 1.5rem 0;
}
.btn {
    height: 60px;
    white-space: nowrap;
    margin: 1.5rem 1rem;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: .5rem;
  }
.btn-primary {
    background-color: var(--white_color);
    color: var(--mainBlue_color);
    font-family: roboto;
    font-weight: bold;
    font-size: 1.5048rem;
}

.footer {
    background-color: var(--mainBlue_color);
    font-size: 1.3376rem;
    color: var(--ftrText_color);
    text-align: center;
    padding: 1.9rem;
}