* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

  .container {
    width: 80%;
    margin: auto;
   }

   .main-box {
       background-image: url(img/placehold2.png);
       background-position: bottom right;
       background-repeat: no-repeat;
       display: flex;
       margin-top: 5rem;
       padding-bottom: 6.5rem;
   }
   .wrapper1 {
    /* display: flex; */
    justify-content: start;
}
.our-service-top-title {
    font-family: Roboto Slab;
    font-size: 2rem;
    color: #363636;
    text-align: start;
    padding-top: 4rem;
    width: 65%;
}
.article-width {
    width: 65%;
    font-family: Roboto;
    font-size: 1.1rem;
    color: #626262;
    text-align: start;
}
.hr {
    margin: 1.5rem 0;
    width: 100%;
    border: 2px solid #25e6c8;
    border-radius: 2px;
}
.blueWord {
    font-family: Roboto Slab;
    color: #2baaec;
}
.grid-boxes {
    width: 75%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 1rem;
}
.box {
    padding: 4rem 0 0 0;
    font-size: 2rem;
}
.font2 {
    font-family: Roboto Slab;
    font-size: 1.1rem;
    color: #363636;
    text-align: start;
}
/*----- DON*T FORGET TO MAKE THIS CHANGE--------------*/
@media screen and (max-width: 768px){
    .main-box {
        background-position: bottom left;
    }
} 