* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: auto;
    padding: 3rem 0; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.flex-section {
    display: flex;
    margin-top: 50px;
}

#p, #button {
    display: block;
}

.justify {
    text-align: center;
}

.border {
    border: 2px solid red;
}

@media (min-width: 768px){
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px){
    .container {
      max-width: 960px;
      flex-direction: row;
    }
  }
  
  @media (min-width: 1200px){
    .container {
        max-width: 1140px;
        flex-direction: row;
    }
  }

  @media (min-width: 1920px){
    .container {
        max-width: 1860px;
        flex-direction: row;
    }
}