* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 80%;
    margin: auto;
   }

.ser-sec-bg {
    background-color: #f7f7f7;
}

.wrapper {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}
.our-service-top-title {
    font-size: 2.5rem;
    color: #363636;
    text-align: center;
    width: 450px;
}
.hr {
    margin: 1.5rem 0;
    width: 100%;
    border: 2px solid #25e6c8;
    border-radius: 2px;
}



.grid-fit {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(436px, auto);
    gap: 2rem;
}
  
/*--- cards here --- */
.square {
    background-color: #ffffff;
    transition: box-shadow 0.3s ease 0.3s;
    border-radius: 10px;
}

.square:hover {
    box-shadow: 0 0 15px rgba(19, 19, 19, 0.411); 
}

.square:hover > .ball {
    background-color: #2baaec;
    height: 140px;
    width: 140px;
    border: 10px solid #c8e9fc;
    transition: .2s;
}

.ball {
    border: 10px solid #fff;
    background-color: #25e6c8;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.centered {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  

.text-cards {
    font-size: 1.375rem;
    color: #363636;
    margin-top: 4rem;
    padding: 4rem;
    text-align: center;
}
#service-dis {
    padding-top: 1rem;
    font-size: 1.125rem;
    color: #626262;
}

.border {
   border: 1px solid #25e6c8;
}

/*----- DON*T FORGET TO MAKE THIS CHANGE--------------*/
@media screen and (max-width: 992px){
    .grid-fit {
        grid-template-columns: repeat(1, 1fr);
  }
} 