* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}


.container {
    width: 80%;
    margin: auto;
 }/* ------ delete this after merrege------*/

.menuSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
 }

 #blueText { color: #2baaec; }

.logocard {
    display: flex;
    align-items: center;
}
.logoImage {
    margin-right: 1rem;
}
.logoText #header {
    font-family: Roboto Slab;
    font-size: 1.5rem;
    color: #363636;
}
.logoText #Ltext {
    font-family: Roboto;
    font-size: 1rem;
    color: #626262;
}
#link {
    display: inline-block;
}
.menu-links {
    width: 30%;
    min-width: 300px;
    display: inline-flex;
    justify-content: space-between;
    padding: 1rem .5rem;
}
#linkk {
    text-decoration: none;
    font-family: Roboto Slab;
    font-size: 1.2rem;
    color: #363636;
}
#linkk:hover {
    color: #2baaec;
}


@media screen and (max-width: 768px){
    .menuSection {
        flex-direction: column;
    }
} 